version: '3.8'

services:
  postgres:
    image: "postgres:latest"
    environment:
      - POSTGRES_PASSWORD=cicada3301
      - POSTGRES_DB=payments
      - POSTGRES_USER=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: